﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Index.aspx.cs" Inherits="Index" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Template Title -->
    <title>Church Nexus</title>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <!-- Bootstrap 3.2.0 stylesheet -->
    <link href="Content/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome Icon stylesheet -->
    <link href="Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Owl Carousel stylesheet -->
    <link href="Content/owl.carousel.css" rel="stylesheet">
    <!-- Pretty Photo stylesheet -->
    <link href="Content/prettyPhoto.css" rel="stylesheet">
    <!-- Custom stylesheet -->
    <link href="Content/style.css" rel="stylesheet" type="text/css" />
    <link href="Content/white.css" rel="stylesheet" type="text/css" />

    <!-- Custom Responsive stylesheet -->
    <link href="Content/responsive.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="Scripts/jquery.min.js"></script>
    <script src="Scripts/jquery-1.10.2.js"></script>
    <script src="Scripts/jquery-1.10.2.min.js"></script>
    <script src="Scripts/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
                    $("#RegisterUser").click(function () {
                        var data = {
                            type: '1',
                            price:'500'
                        }
                        window.location.href = "./ChurchRegistration.aspx?" + $.param(data);
                        return false;
                    });
                    $("#RegisterUser1").click(function () {
                        var data = {
                            type: '2',
                            price: '700'
                        }
                        window.location.href = "./ChurchRegistration.aspx?" + $.param(data);
                        return false;
                    });
                    $("#RegisterUser2").click(function () {
                        var data = {
                            type: '3',
                            price: '1000'
                        }
                        window.location.href = "./ChurchRegistration.aspx?" + $.param(data);
                        return false;
                    });
                    $("#RegisterUser3").click(function () {
                        var data = {
                            type: '4',
                            price: '1500'
                        }
                        window.location.href = "./ChurchRegistration.aspx?" + $.param(data);
                        return false;
                    });
        });
        </script>
</head>
<body>
    <form id="form1" runat="server">
        <!-- ====== Header Section ====== -->
        <header id="top">
      <div class="bg-color">
        <div class="top section-padding">
          <div class="container">
            <div class="row">
              <div class="col-sm-5 col-md-5">
                <div class="photo-slide">
                 <div id="carousel" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1" class=""></li>
                    <li data-target="#carousel" data-slide-to="2" class=""></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="item">
                      <img src="images/1a.png" alt="">
                    </div>
                    <div class="item active left">
                      <img src="images/1b.png" alt="">
                    </div>
                    <div class="item next left">
                      <img src="images/1c.png" alt="">
                    </div>
                  </div> <!-- end .carousel-inner -->
                </div> <!-- end #carousel -->
                </div> <!-- end .photo-slide -->
              </div> <!-- end .top > .container> .row> .col-md-5 -->
              <div class="col-sm-7 col-md-7">
                <div class="content">
                  <img src="images/phone3.png"/ alt=" " />
                    <br /><br />
                   <ul class="social-network social-circle">
                  <%--  <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>--%>
                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
                    </li>
                   <%-- <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i>
                    </a></li>
                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                    </li>--%>
                </ul>
                  <p>Bring you closer to your members and engaging with them in their spiritual journey through an easy to use and affordable mobile solution.</p>
                  <div class="button" id="download-app1">
                    <a href="#features" class="btn btn-default btn-lg custom-btn"><i class="fa fa-cloud-submit"></i>Learn More</a>
                  </div> <!-- end .button -->
                </div> <!-- end .content -->
              </div> <!-- end .top > .container> .row> .col-md-7 -->

            </div> <!-- end .top> .container> .row -->
          </div> <!-- end .top> .container -->
        </div> <!-- end .top -->
      </div> <!-- end .bg-color -->
    </header>
        <!-- ====== End Header Section ====== -->
        <!-- ====== Menu Section ====== -->
        <section id="menu">
      <div class="navigation">
        <div id="main-nav" class="navbar navbar-default" role="navigation">
          <div class="container">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                 <div class="navbar-brand" > <img src="images/churchnexus1.png"/ alt=" " /></div>
              <%--<a class="navbar-brand" href="images/churchnexuslogo.png">Church Nexus</a>--%>
            </div> <!-- end .navbar-header -->

            <div class="navbar-collapse collapse">
              <ul id="ulnav" class="nav navbar-nav navbar-right">
                <li class="active"><a href="#top">Home</a></li>
                <li><a href="#features">Features</a></li>
               <%-- <li><a href="#screenshots">Why</a></li>--%>
                <li><a href="#description">Product</a></li>
               <%-- <li><a href="#testimonial">Reviews</a></li>
                <li><a href="#team">Team</a></li>--%>
                <li><a href="#price">Pricing</a></li>
                <li><a href="#download">Download</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div><!-- end .navbar-collapse -->

          </div> <!-- end .container -->
        </div> <!-- end #main-nav -->
      </div> <!-- end .navigation -->
    </section>
        <!-- ====== End Menu Section ====== -->
        <!-- ====== Features Section ====== -->
        <section id="features" class="">
      <div class="features section-padding" style="width:1400px; margin:0 auto;">
        <div class="container">

          <div class="header">
            <h1><strong>A</strong>mazing <strong>F</strong>eatures</h1>
            <div class="underline">
              <i class="fa fa-ellipsis-h"></i>
            </div>
          </div> <!-- end .container> .header -->

          <div class="row">
            <div class="col-md-4">
              <div class="featured-item-img">
                <img src="images/phone2.png" alt="">
              </div>
            </div>
            <div class="col-md-8 feature-list">
              <div class="row">

                <div class="col-sm-6 col-md-6">
                  <div class="featured-item">
                    <%--<div class="icon">
                      <div class="icon-style"><i class="fa fa-desktop"></i></div>
                    </div>--%> <!-- end icon -->
                    <div class="meta-text">
                      <h3>Prayer requests</h3>
                      <p>When a member need someone to pray for them, they can send an instant prayer request to you.</p>
                    </div> <!-- end .meta-text -->
                  </div> <!-- end .featured-item -->
                </div> <!-- end .feature-list> .row > .col-md-6 (1st item) -->

                <div class="col-sm-6 col-md-6">
                  <div class="featured-item">
                    <%--<div class="icon">
                      <div class="icon-style"><i class="fa fa-send"></i></div>
                    </div>--%> <!-- end icon -->
                    <div class="meta-text">
                      <h3>Customized look and feel</h3>
                      <p>Customize the app to look and feel like your own church app with color themes and logos that match your style.</p>
                    </div> <!-- end .meta-text -->
                  </div> <!-- end .featured-item -->
                </div> <!-- end .feature-list> .row > .col-md-6 (2nd item) -->

                <div class="col-sm-6 col-md-6">
                  <div class="featured-item">
                    <%--<div class="icon">
                      <div class="icon-style"><i class="fa fa-gears"></i></div>
                    </div>--%> <!-- end icon -->
                    <div class="meta-text">
                      <h3>Events</h3>
                      <p>Members have easy access to upcoming events that they can add to their calendar for reminders.</p>
                    </div> <!-- end .meta-text -->
                  </div> <!-- end .featured-item -->
                </div> <!-- end .feature-list> .row > .col-md-6 (3rd item) -->

                <div class="col-sm-6 col-md-6">
                  <div class="featured-item">
                    <%--<div class="icon">
                      <div class="icon-style"><i class="fa fa-search"></i></div>
                    </div> --%><!-- end icon -->
                    <div class="meta-text">
                      <h3>No long term contracts</h3>
                      <p>Month to month plans with optional features allow you to pay for what you actually need.</p>
                    </div> <!-- end .meta-text -->
                  </div> <!-- end .featured-item -->
                </div> <!-- end .feature-list> .row > .col-md-6 (4th item) -->

                <div class="col-sm-6 col-md-6">
                  <div class="featured-item">
                    <%--<div class="icon">--%>
                      <%--<div class="icon-style"><i class="fa-facebook-official"></i></div>--%>
                    <%--</div> <!-- end icon -->--%>
                    <div class="meta-text">
                      <h3>Socail media</h3>
                      <p>Members have access to church info including social media links at their finger tips.</p>
                    </div> <!-- end .meta-text -->
                  </div> <!-- end .featured-item -->
                </div> <!-- end .feature-list> .row > .col-md-6 (5th item) -->

                <div class="col-sm-6 col-md-6">
                  <div class="featured-item">
                    <%--<div class="icon">
                      <div class="icon-style"><i class="fa fa-mobile-phone"></i></div>
                    </div> --%><!-- end icon -->
                    <div class="meta-text">
                      <h3>Signup and more</h3>
                      <p><b>Find us @:</b>www.churchnexus.com</p>
                    </div> <!-- end .meta-text -->
                  </div> <!-- end .featured-item -->
                </div> <!-- end .feature-list> .row > .col-md-6 (6th item) -->

              </div> <!-- end .feature-list> .row -->
            </div> <!-- end .feature-list -->
          </div> <!-- end .container> .row -->

        </div> <!-- end .container -->
      </div> <!-- end .features -->
    </section>
        <!-- ====== End Features Section ====== -->
        <!-- ====== Screenshots Section ====== -->
        <%--    <section id="screenshots">
      <div class="screenshots section-padding dark-bg">
        <div class="container">
          <div class="header">
            <h1><strong>W</strong>hy <strong>t</strong>his <strong>a</strong>pp?</h1>
            <p>Want more Bootstrap themes & templates? Subscribe to our mailing list to receive an update when new items arrive! Akshara is a library to buy Bootstrap themes and templates for your business need. Want more Bootstrap themes & templates ? Want more Bootstrap themes & templates?</p>
            <div class="underline"><i class="fa fa-image"></i></div>
          </div>

          <div class="owl-carousel owl-theme">
            <div class="item">
              <a href="images/app.jpg" data-rel="prettyPhoto"><img src="images/app.jpg" alt="item photo"></a>
            </div> <!-- end item -->
            <div class="item">
              <a href="images/app2.jpg" data-rel="prettyPhoto"><img src="images/app2.jpg" alt="item photo"></a>
            </div> <!-- end item -->
            <div class="item">
              <a href="images/app.jpg" data-rel="prettyPhoto"><img src="images/app.jpg" alt="item photo"></a>
            </div> <!-- end item -->
            <div class="item">
              <a href="images/app2.jpg" data-rel="prettyPhoto"><img src="images/app2.jpg" alt="item photo"></a>
            </div> <!-- end item -->
            <div class="item">
              <a href="images/app.jpg" data-rel="prettyPhoto"><img src="images/app.jpg" alt="item photo"></a>
            </div> <!-- end item -->
            <div class="item">
              <a href="images/app2.jpg" data-rel="prettyPhoto"><img src="images/app2.jpg" alt="item photo"></a>
            </div> <!-- end item -->
          </div> <!-- end owl carousel -->

        </div> <!-- .container -->
      </div> <!-- end .screenshots -->  
    </section>
        --%>
        <!-- ====== End Screenshots Section ====== -->
        <!-- ====== Description Section ====== -->
        <section id="description">
      <div class="description">
        <div class="description-one section-padding">
          <div class="container">
            <div class="row">
              <div class="col-sm-5 col-md-6">
                <div class="app-image">
                  <img src="images/3.png" alt="">
                </div>
              </div>
              <div class="col-sm-7 col-md-6">
                <div class="content">
                  <div class="header">
                  </div>
                  <h3>Church Nexus Admin App</h3>
                  <p>If you do not have high tech equipment to record and upload sermons and other details, we got you covered. With out companion admin app, now you can manage
                  your video/audio content right from your mobile device.
                  </p>
                    <br />
                    
                    <h3>Easy Listening Anywhere</h3>
                    <p>Now your members can listen to full-length sermons anywhere with offline support. Sermons can be played in background enabling multitasking.</p>
                  <div class="button" id="download-app2">
                    <a href="#download" class="btn btn-default btn-lg custom-btn get-btn"><i class="fa fa-cloud-download"></i>Get App</a>
                  </div>
                </div>
              </div>
            </div> <!-- .container> .row -->
          </div> <!-- .container -->
        </div> <!-- end .description-one -->

      <%--  <div class="description-two section-padding dark-bg">
          <div class="container">
            <div class="row">--%>
             <%-- <div class="col-sm-7 col-md-6">
                <div class="content">
                  <h1><strong>D</strong>ownload <strong>o</strong>ur <strong>a</strong>pp <strong>w</strong>in <strong>g</strong>old or <strong>f</strong>ree <strong>t</strong>rip.</h1>
                  <p>Want more Bootstrap themes & templates? Subscribe to our mailing list to receive an update when new items arrive! Akshara is a library to buy Bootstrap themes and templates for your business need. Want more Bootstrap themes & templates ? Want more Bootstrap themes & templates?</p>
                  <ul class="list-item">
                    <li><i class="fa fa-table"></i> Responsive app Template</li>
                    <li><i class="fa fa-video-camera"></i> Cross Browser Compactbility</li>
                    <li><i class="fa fa-volume-up"></i> Fast and easy to customize</li>
                    <li><i class="fa fa-umbrella"></i>its free to download</li>
                    <li><i class="fa fa-thumbs-o-up"></i> just replace your product</li>
                  </ul>
                </div> <!-- end .content -->
              </div>--%> <!-- .container> .row> .col-md-6 -->

             <%-- <div class="col-sm-5 col-md-6">
                <div class="app-image">
                  <img class="img-responsive" src="images/duel-phone-big.png" alt="">
                </div> <!-- end .app-image -->
              </div>--%> <!-- .container> .row> .col-md-6 -->

            <%--</div>--%> <!-- .container> .row -->
         <%-- </div>--%> <!-- .container -->
        <%--</div>--%> <!-- end .description-two -->

      </div> <!-- end .description -->
    </section>
        <!-- ====== End Description Section ====== -->
        <!-- ====== Testimonial Section ====== -->
        <%--     <section id="testimonial">
      <div class="bg-color bg-testimonial">
        <div class="testimonial section-padding">
          <div class="container">
            <div class="testimonial-slide">
              <div id="carousel-testimonial" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-testimonial" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-testimonial" data-slide-to="1" class=""></li>
                  <li data-target="#carousel-testimonial" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner">

                  <div class="item">
                    <div class="image">
                      <img src="images/01.jpg" alt="">
                    </div> <!-- end .image -->
                    <div class="content">
                      <p>Want more Bootstrap themes & templates? Subscribe to our mailing list to receive an update when new items arrive! Akshara is a library to buy Bootstrap themes and templates for your business need. Want more Bootstrap themes & templates ? Want more Bootstrap themes & templates?</p>
                      <h4>Jon Doe</h4>
                      <h5>Web developer</h5>
                    </div> <!-- end .content -->
                  </div> <!-- end .item (1) -->

                  <div class="item active left">
                    <div class="image">
                      <img src="images/02.jpg" alt="">
                    </div> <!-- end .image -->
                    <div class="content">
                      <p>Want more Bootstrap themes & templates? Subscribe to our mailing list to receive an update when new items arrive! Akshara is a library to buy Bootstrap themes and templates for your business need. Want more Bootstrap themes & templates ? Want more Bootstrap themes & templates?</p>
                      <h4>Jon Doe</h4>
                      <h5>Web developer</h5>
                    </div> <!-- end .content -->
                  </div> <!-- end .item (2) -->

                  <div class="item next left">
                    <div class="image">
                      <img src="images/03.jpg" alt="">
                    </div> <!-- end .image -->
                    <div class="content">
                      <p>Want more Bootstrap themes & templates? Subscribe to our mailing list to receive an update when new items arrive! Akshara is a library to buy Bootstrap themes and templates for your business need. Want more Bootstrap themes & templates ? Want more Bootstrap themes & templates?</p>
                      <h4>Jon Doe</h4>
                      <h5>Web developer</h5>
                    </div> <!-- end .content -->
                  </div> <!-- end .item (3) -->

                </div> <!-- end .carousel-inner -->
              </div> <!-- end #carousel-testimonial -->
            </div> <!-- end .testimonial-slide -->
          </div> <!-- end .container -->
        </div> <!-- end .testimonial -->
      </div> <!-- end .bg-testimonial -->
    </section>
        --%>
        <!-- ====== End Testimonial Section ====== -->
        <!-- ====== Team Section ====== -->
        <%--    <section id="team">
      <div class="team section-padding">
        <div class="container">

          <div class="header">
            <h1><strong>Who develop the App</strong></h1>
            <p>Want more Bootstrap themes & templates? Subscribe to our mailing list to receive an update when new items arrive! Akshara is a library to buy Bootstrap themes and templates for your business need. Want more Bootstrap themes & templates ? Want more Bootstrap themes & templates?</p>
            <div class="underline"><i class="fa fa-users"></i></div>
          </div> <!-- end .container> .header -->

          <div class="row">
            <div class="app-dev">

              <div class="col-sm-6 col-md-6 col-lg-3 info">
                <div class="member">
                  <img src="images/01.jpg" alt="">
                  <div class="details">
                    <p>Want more Bootstrap themes & templates? Subscribe to our mailing list to receive an update when new items arrive! </p>
                    <div class="social icon">
                      <ul>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                      </ul>
                    </div> <!-- end .icon -->
                  </div> <!-- end .details -->
                </div> <!-- end .member -->
                <div class="title">
                  <h4>Margery Key</h4>
                  <h5>Lead Developer</h5>
                </div> <!-- end .title -->
              </div> <!-- end .info (1) -->

              <div class="col-sm-6 col-md-6 col-lg-3 info">
                <div class="member">
                  <img src="images/02.jpg" alt="">
                  <div class="details">
                    <p>Want more Bootstrap themes & templates? Subscribe to our mailing list to receive an update when new items arrive! </p>
                    <div class="social icon">
                      <ul>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                      </ul>
                    </div> <!-- end .icon -->
                  </div> <!-- end .details -->
                </div> <!-- end .member -->
                <div class="title">
                  <h4>Shirley Bergeron</h4>
                  <h5>UI/UX Designer</h5>
                </div> <!-- end .title -->
              </div> <!-- end .info (2) -->

              <div class="col-sm-6 col-md-6 col-lg-3 info">
                <div class="member">
                  <img src="images/03.jpg" alt="">
                  <div class="details">
                    <p>Want more Bootstrap themes & templates? Subscribe to our mailing list to receive an update when new items arrive! </p>
                    <div class="social icon">
                      <ul>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                      </ul>
                    </div> <!-- end .icon -->
                  </div> <!-- end .details -->
                </div> <!-- end .member -->
                <div class="title">
                  <h4>Ryan Elder</h4>
                  <h5>Front End Developer</h5>
                </div> <!-- end .title -->
              </div> <!-- end .info (3) -->

              <div class="col-sm-6 col-md-6 col-lg-3 info">
                <div class="member">
                  <img src="images/04.jpg" alt="">
                  <div class="details">
                    <p>Want more Bootstrap themes & templates? Subscribe to our mailing list to receive an update when new items arrive! </p>
                    <div class="social icon">
                      <ul>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                      </ul>
                    </div> <!-- end .icon -->
                  </div> <!-- end .details -->
                </div> <!-- end .member -->
                <div class="title">
                  <h4>Daisy Baker</h4>
                  <h5>Marketer</h5>
                </div> <!-- end .title -->
              </div> <!-- end .info (4) -->

            </div> <!-- end .app-dev -->
          </div> <!-- end .container> .row -->

        </div> <!-- end .container -->
      </div> <!-- end .team -->
    </section>
        --%>
        <!-- ====== Team Section ====== -->
        <!-- ====== Price Section ====== -->
        <section id="price">
      <div class="price section-padding dark-bg">
        <div class="container">

          <div class="header">
            <h1>Pricing</h1>
            <div class="underline"><i class="fa fa-users"></i></div>
          </div> <!-- end .container> .header -->

          <div class="row">
            <div class="price-list">

              <div class="col-md-3"> 
                <div class="price-table">
                  <%--<div class="rate"><i class="fa fa-usd"></i>10</div>--%>
                    <div class="rate"><i class="fa fa-inr"></i>500</div>
                  <h2>Basic</h2>      
                  <ul>
                    <li>Upto 100 members</li>
                    <li>First month free</li>
                    <li>Admin mobile app</li>
                    <li>Dashboard</li>
                    <li>Tech support</li>
                    <li>Content support-paid</li>
                  </ul>
                  <button type="submit" id="RegisterUser" onclick="" class="btn btn-default buy-now">Sign Up Now</button>
                </div> <!-- end .price-table -->
              </div> <!-- end .price-list> .col-md-4 (1) -->

              <div class="col-md-3"> 
                <div class="price-table">
                  <%--<div class="rate"><i class="fa fa-usd"></i>25</div>--%>
                    <div class="rate"><i class="fa fa-inr"></i>700</div>
                  <h2>Growth</h2>
                  <ul>
                    <li>Upto 300 members</li>
                    <li>First month free</li>
                    <li>Admin mobile app</li>
                    <li>Dashboard</li>
                    <li>Tech support</li>
                    <li>Content support-paid</li>
                  </ul>
                  <button type="submit" id="RegisterUser1" onclick="" class="btn btn-default buy-now">Sign Up Now</button>
                </div> <!-- end .price-table -->
              </div> <!-- end .price-list> .col-md-4 (2) -->

              <div class="col-md-3">
                <div class="price-table">
                  <%--<div class="rate"><i class="fa fa-usd"></i>50</div> --%>
                    <div class="rate"><i class="fa fa-inr"></i>1000</div> 
                  <h2>Full</h2>
                  <ul>
                    <li>Upto 1000 members</li>
                    <li>First month free</li>
                    <li>Admin mobile app</li>
                    <li>Dashboard</li>
                    <li>Tech support</li>
                    <li>Content support-paid</li>
                  </ul>
                  <button type="submit" id="RegisterUser2" onclick="" class="btn btn-default buy-now">Sign Up Now</button>
                </div> <!-- end .price-table -->
              </div> <!-- end .price-list> .col-md-4 (3) -->

                  <div class="col-md-3">
                <div class="price-table">
                    <%--<div class="rate"><i class="fa fa-usd"></i>100</div>--%> 
                  <div class="rate"><i class="fa fa-inr"></i>1500</div> 
                  <h2>Premium</h2>
                  <ul>
                    <li>Unlimited registrations</li>
                    <li>First month free</li>
                    <li>Admin mobile app</li>
                    <li>Dashboard</li>
                    <li>Tech support</li>
                    <li>Content support-paid</li>
                  </ul>
                   <button type="submit" id="RegisterUser3" onclick="" class="btn btn-default buy-now">Sign Up Now</button>
                </div> <!-- end .price-table -->
              </div> <!-- end .price-list> .col-md-4 (3) -->

            </div> <!-- end .price-list -->
          </div> <!-- end .container> .row -->

        </div> <!-- end .container -->
      </div> <!-- end .price -->
    </section>
        <!-- ====== End Price Section ====== -->
        <!-- ====== Subscribe Section ====== -->
      <%--  <section id="subscribe">
      <div class="subscribe section-padding">
        <div class="container">
          <div class="subscribe-header">
            <h1>Newsletter</h1>
            <form action="" class="form subscribe-form">
              <div class="form-group">
                <div class="input-group">
                  <label for="f-name" class="sr-only">Newsletter</label>
                  <input type="text" class="form-control" id="f-name" placeholder="Enter your email address">
                
                  <div class="input-group-addon">
                    <button class="btn" type="submit">SUBMIT</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="social">
            <ul>
              <li><a class="twitter" href=""><i class="fa fa-twitter"></i></a></li> 
              <li><a class="facebook" href=""><i class="fa fa-facebook"></i></a></li> 
              <li><a class="google-plus" href=""><i class="fa fa-google-plus"></i></a></li> 
              <li><a class="youtube" href=""><i class="fa fa-youtube"></i></a></li> 
              <li><a class="linkedin" href=""><i class="fa fa-linkedin"></i></a></li> 
              <li><a class="pinterest" href=""><i class="fa fa-pinterest"></i></a></li> 
              <li><a class="dribbble" href=""><i class="fa fa-dribbble"></i></a></li> 
              <li><a class="flickr" href=""><i class="fa fa-flickr"></i></a></li>          
            </ul>
          </div>
        </div>
      </div>
    </section>--%>
        <!-- ====== End Subscribe Section ====== -->
        <!-- ====== Download Section ====== -->
        <section id="download">
      <div class="bg-color">
        <div class="download section-padding">
          <div class="container">

            <div class="header">
              <h1>Download <strong>Church Nexus App</strong> for your OS</h1>
              <%--<p>Want more Bootstrap themes & templates? Subscribe to our mailing list to receive an update when new items arrive! Akshara is a library to buy Bootstrap themes and templates for your business need. Want more Bootstrap themes & templates ? Want more Bootstrap themes & templates?</p>--%>
              <div class="underline"><i class="fa fa-cloud-download"></i></div>
            </div> <!-- end .container > .header -->

            <div class="row download-area">

              <div class="col-md-6">
                <%--<a href="http://goo.gl/mHBuHa" onclick="OpenInNewTab();" class="btn btn-default custom-btn download-btn">--%>
                   <img onclick="OpenInIphoneTab()" src="images/apple-image.png" class="btn btn-default custom-btn download-btn" alt="" align="middle">
                  
              </div> <!-- end .download-area> .col-lg-3 (1) -->

              <div class="col-md-6">
                <%--<a href="http://goo.gl/YbvJvN" onclick="OpenInNewTab();" class="btn btn-default custom-btn download-btn">--%>
                <img onclick="OpenInGoogleTab()" src="images/googleplay-image.png" class="btn btn-default custom-btn download-btn" alt="" align="middle">
              
              </div> <!-- end .download-area> .col-lg-3 (2) -->

            </div> <!-- end .container > .row/.download-area -->

          </div> <!-- end .container -->
        </div> <!-- end .download -->
      </div> <!-- end .bg-color -->
    </section>
        <!-- ====== End Download Section ====== -->
        <!-- ====== Contact Section ====== -->
        <footer id="contact">
      <div class="footer section-padding">
        <div class="container">
          <h1>Contact Us</h1>
          <form action="" class="form contact">

            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <label for="name" class="sr-only">Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Name">
                </div> <!-- end .form-group -->

                <div class="form-group">
                  <label for="email" class="sr-only">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="Email">
                </div> <!-- end .form-group -->

                <div class="form-group">
                  <label for="subject" class="sr-only">Subject</label>
                  <input type="text" class="form-control" id="subject" placeholder="Subject">
                </div> <!-- end .form-group -->
              </div> <!-- end .form> .row> .col-md-4 -->
              
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <label for="message" class="sr-only">Message</label>
                  <textarea name="message" id="message" placeholder="Message"></textarea>
                </div> <!-- end .form-group -->
              </div>
            </div> <!-- end .form> .row -->

            <button class="btn btn-default contact-submit custom-btn" type="submit"><i class="fa fa-hand-o-right"></i>SUBMIT</button>
          </form> <!-- end .form -->   
        </div> <!-- end .container -->
      </div> <!-- end .footer -->
    </footer>
        <!-- ====== End Contact Section ====== -->
        <!-- ====== Copyright Section ====== -->
        <section class="copyright dark-bg">
      <div class="container">
      <div class="row">
      <div class="col-lg-5 col-md-5">
        <p>Copyright &copy; 2015, Elite Crest Technologies, All Rights Reserved</p>
        </div>
         <div class="col-lg-5 col-md-5">
        <p><strong></strong></p>
        </div>
        </div>
      </div> <!-- end .container -->
    </section>
        <!-- ====== End Copyright Section ====== -->
        <!-- jQuery -->
        <script src="http://code.jquery.com/jquery.min.js"></script>
        <script src="Scripts/jquery.js"></script>
        <!-- Modernizr js -->
        <script src="Scripts/modernizr-latest.js"></script>
        <!-- Bootstrap 3.2.0 js -->
        <script src="Scripts/bootstrap.min.js"></script>
        <!-- Owl Carousel plugin -->
        <script src="Scripts/owl.carousel.min.js"></script>
        <!-- ScrollTo js -->
        <script src="Scripts/jquery.scrollto.min.js"></script>
        <!-- LocalScroll js -->
        <script src="Scripts/jquery.localScroll.min.js"></script>
        <!-- jQuery Parallax plugin -->
        <script src="Scripts/jquery.parallax-1.1.3.js"></script>
        <!-- Skrollr js plugin -->
        <script src="Scripts/skrollr.min.js"></script>
        <!-- jQuery One Page Nav Plugin -->
        <script src="Scripts/jquery.nav.js"></script>
        <!-- jQuery Pretty Photo Plugin -->
        <script src="Scripts/jquery.prettyPhoto.js"></script>
        <!-- Custom JS -->
        <script src="Scripts/main.js"></script>
        <script>
            function OpenInGoogleTab() {
                var win = window.open("http://goo.gl/YbvJvN", '_blank');
                win.focus();
            } 
            function OpenInIphoneTab() {
                var win = window.open("http://goo.gl/mHBuHa", '_blank');
                win.focus();
            }
            jQuery(document).ready(function ($) {
                "use strict";

                jQuery("a[data-rel^='prettyPhoto']").prettyPhoto({ social_tools: false });
            });
        </script>
    </form>
</body>
</html>
